body {
    margin: 0;
    font-family: 'Montserrat', 'Roboto', sans-serif;
    line-height: 1.5;
    min-height: 100vh;
    background-color: white;
}

input {
    margin-bottom: 12px;
}

nav {
    background-color: #eeeeee;
    color: #546e7a;
    font-size: 20px;
}

.navbar-brand {
    font-size: 35px;
}

.toTheTop {
    display: none;
}

.pre-loader {
    display: block;
    margin: auto;
    margin-top: 180px;
    width: 50%;
    max-width: 180px;
}
