// App color config
$primary-color: #e64545;
$secondary-color: #90cfd5;
$neutral-color: #f2f2f2;
$alt-color: #404548;
$secondary-color-on-alt: #8ad4db;
$neutral-color-on-white: #757575;
$black: black;
$white: white;

// spinner before react app downloads to the DOM
.pre-loader {
    display: block;
    margin: auto;
    margin-top: 180px;
    width: 50%;
    max-width: 180px;
}

// universal styles
html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    min-height: 100vh;
    background-color: $white;
}

main {
    display: block;
    margin: auto;
    max-width: 800px;
    margin-top: 88px;
    padding-top: 60px;
    cursor: default;
}

a {
    text-decoration: none;
    color: inherit;
}
a:visited {
    color: inherit;
}

h1 {
    color: #404548;
    font-size: 45px;
    line-height: normal;
    text-align: left;
    margin-top: 52px;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: bold;
}
h1>span {
    color: $primary-color;
}

h2 {
    font-weight: 200;
    font-size: 35px;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 20px;
}

h3 {
    font-weight: 100;
    font-size: 16px;
    margin-bottom: 20px;
}

p {
    font-size: 16px;
    text-align: left;
}

button {
    color: $primary-color;
    background: $white;
    cursor: pointer;
    border: 3px solid $primary-color;
    font-size: 15px;
    font-weight: 400;
    border-radius: 50px;
    margin-top: 60px;
    margin-bottom: 120px;
    width: 300px;
    height: 50px;
    font-weight: bold;
    text-align: center;
    outline: none;
    transition: all .2s;
}
button:hover {
    background: $primary-color;
    color: $white;
}

form {
    width: 35%;
    margin: auto;
    position: relative;
}

input {
    display: block;
    border-radius: 5px;
    color: $alt-color;
    border: 3px solid $neutral-color;
    outline: none;
    font-size: 16px;
    margin: auto;
    margin-bottom: 32px;
    width: 100%;
    height: 20px;
    padding: 10px;
}
input:placeholder {
    color: $neutral-color-on-white;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: $neutral-color-on-white;
}
::-moz-placeholder { /* Firefox 19+ */
  color: $neutral-color-on-white;
}
:-ms-input-placeholder { /* IE 10+ */
  color: $neutral-color-on-white;
}
:-moz-placeholder { /* Firefox 18- */
  color: $neutral-color-on-white;
}

label {
    font-size: 12px;
    position: absolute;
    width: 100%;
    left: 12px;
    color: red;
    line-height: 1;
}

.spinner {
    display: block;
    position: absolute;
    z-index: 999;
    width: 15%;
    min-width: 100px;
    max-width: 180px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}
.spinner-background {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 998;
    background-color: black;
    opacity: 0.8;
}

// nav bar styles
nav {
    background-color: $alt-color;
    color: $white;
    font-size: 20px;
    height: 88px;
    padding: 0px 10%;
}

.navbar-toggle {
    width: unset;
}

#logo-container {
    width: 150px;
}
#logo {
    width: 100%;
    margin-top: 22px;
    position: relative;
    left: 0px;
    transition: all .6s
}
#logo.hidden {
    left: -100px;
}
#logo-hider {
    position: absolute;
    width: 300px;
    height: 68px;
    top: 14px;
    left: -158px;
    z-index: 1;
    background: $alt-color;
    box-shadow: 0px 0px 8px $alt-color;
    -webkit-box-shadow: 0px 0px 8px $alt-color;
    -moz-box-shadow: 0px 0px 8px $alt-color;
}

#nav-right {
    float: right;
    cursor: pointer;
    color: #f2f2f2;
    font-size: 15px;
    font-weight: normal;
    position: absolute;
    top: 35px;
    right: 0;
    margin-right: 10%;
}
.nav-button {
    color: $white;
    font-weight: 400;
    padding-left: 14px;
    cursor: pointer;
    transition: all .2s;
}
.nav-button:hover {
    color: $secondary-color-on-alt;
}
#nav-right>span {
    padding-left: 0px;
    padding-right: 14px;
    border-right: 2px solid white;
}

// home view styles
#chat-bubbles {
    width: 90%;
    margin: 5%;
    margin-top: 20%;
}

.text-block {
    display: inline-block;
    width: 60%;
    float: left;
}
.image-block {
    display: inline-block;
    width: 40%;
    text-align: center;
    height: 460px;
    float: right;
}

.blurb {
    width: 80%;
}

// profile view styles
#dashboard {
    text-align: center;
}

#phone-number {
    color: $primary-color;
    // margin-left: 12px;
    font-weight: 600;
}

#forwards-to {
    color: $neutral-color-on-white;
}

#forwards-to-number {
    color: $alt-color;
    cursor: pointer;
    margin-left: 12px;
}
#forwards-to-number:hover {
    color: $secondary-color;
}

.call-to-action {
    font-weight: bold;
    color: $neutral-color-on-white;
}

button.subscribe {
    display: block;
    margin: auto;
    width: 350px;
    height: 48px;
    margin-bottom: 40px;
}

button.edit-profile {
    display: block;
    margin: auto;
    width: 200px;
    margin-top: 180px;
    margin-bottom: 22px;
    font-size: 13px;
    border: none;
    background: $alt-color;
    color: $white;
}
button.edit-profile:hover {
    color: $secondary-color;
}

.contact-us {
    text-decoration: underline;
    margin-top: 40px;
    font-size: 16px;
}
.contact-us:hover {
    color: $secondary-color;
}

// login view styles
#login {
    text-align: center;
}

.image-container {
    width: 50%;
    margin: auto;
}

.bubbles {
    width: 100%;
    max-width: 140px;
    margin: auto;
}

#email-error-login {
    top: 50px;
}

#password-error-login {
    top: 128px;
}

#server-error-login {
    top: 155px;
}

// signup view styles
#sign-up {
    text-align: center;
}

#name-error-signup {
    top: 50px;
}

#email-error-signup {
    top: 128px;
}

#password-error-signup {
    top: 206px;
}

// RESPONSIVE //
@media (max-width: 1024px) {
    main {
        padding: 0px 10%;
    }

    form {
        width: 80%;
    }

    input {
        text-align: center;
    }
}
