body {
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 300;
    color: #404040;
    background: #a6a6a6;
}

input {
    margin-bottom: 12px;
}

nav {
    background-color: #eeeeee;
    color: #546e7a;
    font-size: 20px;
}

.navbar-brand {
    font-size: 35px;
}

.toTheTop {
    display: none;
}
