// city search styles
#city-search {
    text-align: center;
}

.prediction {
    background: $neutral-color;
    color: $black;
    width: 40%;
    margin: auto;
    margin-bottom: 10px;
    border-radius: 2px;
    padding: 10px;
    transition: all .2s;
}
.prediction:hover {
    background: $secondary-color;
    color: $white;
    cursor: pointer;
}

input {
    text-align: center;
}
input.selected {
    background: #89d3da;
    color: $white;
    border: none;
}

.area-code {
    color: $primary-color;
    font-weight: 600;
    font-size: 35px;
    letter-spacing: 4px;
    margin-bottom: 60px;
}
